<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPERATION_URI</key>
	<string>/operation/%@</string>
	<key>REFRESH_TOKEN_URI</key>
	<string>/token</string>
	<key>UNENROLLMENT_PATH</key>
	<string>/admin/devices/enterprise-wipe</string>
	<key>SERVER_CONTEXT</key>
	<string>/api/device-mgt/ios/v1.0</string>
	<key>TOKEN_PUBLISH_URI</key>
	<string>/devices/pushtoken/%@</string>
	<key>LOCATION_PUBLISH_URI</key>
	<string>/devices/location/%@</string>
	<key>ENROLLMENT_URI</key>
	<string>/ios-web-agent/enrollments/ios/login-agent?isAgentAvailable=true</string>
	<key>API_PORT</key>
	<string>8243</string>
	<key>ENROLMENT_PORT</key>
	<string>9443</string>
	<key>ENROLLMENT_URL</key>
	<string>https://192.168.8.120</string>
	<key>SERVER_URL</key>
	<string>https://192.168.8.120</string>
	<key>EFFECTIVE_POLICY_PATH</key>
	<string>/devices/effective-policy/%@</string>
	<key>TOKEN_REFRESH_URI</key>
	<string>/ios-web-agent/enrollments/ios/login-agent?isRefresh=true</string>
	<key>AGENT_BASED_ENROLLMENT</key>
	<string>AGENT</string>
	<key>CA_DOWNLOAD_PATH</key>
	<string>/ios-web-agent/enrollment/ios/download-certificate</string>
	<key>AUTH_PATH</key>
	<string>/ios-enrollment/agent-authenticate</string>
	<key>LICENSE_PATH</key>
	<string>/ios-enrollment/license</string>
	<key>ENROLL_PATH</key>
	<string>/ios-web-agent/enrollment/ios/enroll?agent-enroll-request=true&amp;tenant=</string>
	<key>IS_ENROLLED_PATH</key>
	<string>/devices/udid</string>
	<key>MOBICONFIG_PATH</key>
	<string>/ios-web-agent/mobiconfig</string>
	<key>AUTO_ENROLLMENT_STATUS_PATH</key>
	<string>yourapps://urlhandlergoes here</string>
</dict>
</plist>
